.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #494949;
  color:white ;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0%;
  z-index: 0;
  margin-top: 4%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: 4px 10px;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #272727;
}

.icon {
  font-size: 20px;
  width:50px;
  height:50px;
  border-radius:50%;
}

.text {
  font-size: 15px;
  font-weight: 500;
}
