.navbar {
  height: 55px;
  width: 100%;
  background-color: #ece8d9;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0%;
}
.nav-items {
  width: 50px;
  height: 30px;
}
.logo {
  width: 140px;
  height: 100px;
  margin-top: 15px;
}
.left-side {
  position: absolute;
  left: 0%;
}
.right-side {
  position: absolute;
  right: 2%;
}
.search-bar {
  position: absolute;
  left: 40%;
  display: flex;
  flex-direction: row;
}
.search-input {
  width: 300px;
  height: 25px;
  padding: 2% 4%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: none;
}
.search-icon {
  height: 38px;
  padding: 2% 4%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
}
