body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.request-container {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 70px 0px 0px 230px;
}
.skill{
  background-color: #807f7f;
  color: white;
  padding: 6px 14px;
  border: none;
  display: block;
  border-radius: 6px;
  margin-bottom: 4px;
}
.request-section {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.request-section h2 {
  margin-bottom: 20px;
  color: #333;
}

.request-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.request-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 10px 12px;
  border-radius: 8px;
}

.left-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: bold;
  color: #333;
}

.right-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-btn,
.cancel-btn {
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 4px;
}

.message-btn {
  background-color: #555;
  color: white;
}

.cancel-btn {
  background-color: #d9534f;
  color: white;
}

.deadline {
  font-size: 12px;
  color: #555;
}


