.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.message-input-container input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: 0.2s;
}

.message-input-container input:focus {
  border-color: #007bff;
  background-color: #fff;
}

.message-input-container button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.message-input-container button:hover {
  background-color: #0056b3;
}
